---
import * as schemaJSON from '../../schemas/test3.json'
import { Debug } from 'astro:components';

export async function getStaticPaths() {
  
  let dataArray = [];

  for (const path in schemaJSON["paths"]) {
    for (const operationKey of Object.keys(schemaJSON["paths"][path])) {
      const operation = schemaJSON["paths"][path][operationKey];
      if (operation["operationId"]) {
      dataArray.push({
        "endpoint": path,
        "operation": operationKey,
        "operationId": operation["operationId"],
        "tags": operation["tags"] && operation["tags"].length > 0 ? operation["tags"][0] : null,
        "summary": operation["summary"],
        "description": operation["description"],
        "parameters": operation["parameters"] || [],
        "requestBody": operation["requestBody"] || null,
        "responses": operation["responses"],
        "security": operation["security"],
        "slug": '/operations/' + operation["operationId"],
      });
    }
  }
}

  return dataArray.map(({ endpoint, operation, operationId, tags, summary, description, parameters, responses, security, slug, requestBody }) => {
    return {
      params: { slug },
      props: { endpoint, operation, tags, summary, description, parameters, responses, security, operationId, requestBody },
    };
  });
}

const { endpoint, operation, tags, summary, description, parameters, responses, security, operationId, requestBody } = Astro.props;
---
<html>
  <head>
    <title>{summary}</title>
  </head>
  <body>
    <h1>{summary}</h1>
    <p>{description}</p>
    <p>{endpoint}</p>
    <p>{operation}</p>
    <p>{tags}</p>
    <p>{operationId}</p>
    <Debug {parameters} />
    <Debug {requestBody} />
    <Debug {responses} />
    <Debug {security} />
  </body>
</html>